/*  1____UNIVERSAL STYLING (To remove browser ones)-------------------------------  */
*, *.before, *.after {margin: 0; padding: 0; box-sizing: border-box;}
body{
	font-family: 'Inter', sans-serif;
	padding: 10% 0% 0% 8%;
}

.main_containter{
	padding-top: 20px;
}

/* ------Fonts styles------------- */
.column2 h2{
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 0px;
}

.column2 P{
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.column2 p.credits{
	font-size: 11px;
}

h2{
	margin-bottom:6px;
}

/* For desktop view */
.container {
  display: flex;
  margin: 0 80px; /* Add padding to create space between the columns */
}

.column {
  padding: 10px; /* Optional: Add some padding between the columns */
}

.column1 {
  flex: 2; /* This makes the first column twice as wide as the second column */
}

.column2 {
  flex: 1;
}

.img_prod {
  /* Set the width of the image */
  width: 400px; /* Adjust this value as needed */
}

.img_prod_cover {
  /* Set the width of the image */
  width: 1210px; /* Adjust this value as needed */
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .column {
    flex: 100%;
  }
}

/* ------------------------------------------------------------------------------------- */

/* Add any existing styles specific to the prod_chat here (if any) */

/* For example, if you have styles for .img_prod_cover, .img_prod, etc., include them here */

/* .img_prod_cover {
   Add styles here for the images in the wider column (if applicable).
}

.img_prod {
   Add styles here for the images in the narrower column (if applicable).
} */

/* End of prod_chat.css */
