/*  1____UNIVERSAL STYLING (To remove browser ones)-------------------------------  */

*, *.before, *.after {margin: 0; padding: 0; box-sizing: border-box;

}

body{
	font-family: 'Inter', sans-serif;
	padding: 10% 0% 0% 8%;
}


.contact_container h2{
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 0px;
}



.contact_right{
	flex-basis: 40%;
	padding: 40px;
	background: yellow;
	color:blue;

}

.main_containter{
	padding-top: 20px;
}

.contact_container p{
	font-family: 'Inter', sans-serif;
	font-size: 12px;
}

h2{
	margin-bottom:6px;
}


.contact_container p{
	margin-bottom: 40px;
}



.contact_box h3{
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
}


tr td:first-child{
	padding-right: 20px;

}

tr td{
	padding-top: 20px;
}


.title{
	font-family: 'Inter', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 10px;

}

.contact_content{
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	padding-top: 10px;
}


.fa-linkedin-in{
	margin-left:2%;
}




/*  VIEW PORTS!!!	*/

@media screen and (min-width: 778px){

.contact_container h2{
	padding-top: 5px;
}

main{
	justify-content: center;
}
	
.main_containter{
	padding-top: 0px;
}





}

@media screen and (min-width: 1200px){
	


}
